# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizard.settings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build

# Kotlin
*.kotlin_module

# Gradle
.gradle
build/

# Documentation
*.md
local.properties
.DS_Store
*.swp
*.bak
*~
